.form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form__input {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  text-align: center;
  font-size: 32px;
}

.form__button {
  width: 60px;
  height: 60px;
}
