.layout {
  padding: 20px;
}

.layout__guesses {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid #eee;
  border-radius: 4px;
}

.layout__status {
  padding: 20px;
  text-align: center;
}
